<h1>Editing Management Portal Department</h1>

<%= render 'form', management_portal_department: @management_portal_department %>

<%= link_to 'Show', @management_portal_department %> |
<%= link_to 'Back', management_portal_departments_path %>
