// Place all the styles related to the management_portal/departments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 95%;
  
  tr{
    border-bottom: solid 1px #eee;
    cursor: pointer;
    hover{
      background-color: #d4f0fd;
    }
    &:nth-child(odd){
      background-color: #eee;
    }
    &.header {
      background-color: #808080;
      color: #FFF;
    }
  }
  
  th,td{
    text-align: center;
    width: 19%;
    padding: 15px 0;
  }
}